body {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #65532F;
    font-family: 'Monaco', sans-serif;
    color: #312509;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.App {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

.home__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
    min-height: 100vh;
}

.home__container p {
    max-width: 500px;
}

.home__container img {
    height: 400px;
    width: auto;
    margin-top: 30px;
}

.navbar {
    display: flex;
    margin: 0 30px;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.navlink {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin: 6px 6px;
    background: #357266;
    border: #312509 4px solid;
    text-decoration: none;
    color: white;
}

.dating__container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.img {
    border: 10px solid #0E3B43;
    max-width: 250px;
    max-height: 300px;
}

.dating__card__container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    gap: 10px 20px;
}

.dating__card {
    display: flex;
    flex-flow: column;
    flex: 1 1 calc(10% - 1em);
    align-items: center;
    justify-content: space-between;
    min-width: 320px;
    min-height: 600px;
    height: 100%;
    border: 10px solid #312509;
    background: #d3bf9f;
    border-radius: 68px;
    font-size: large;
    padding: 15px;
}

.matches__card {
    display: flex;
    flex-flow: column;
    flex: 1 1 calc(10% - 1em);
    align-items: center;
    justify-content: space-evenly;
    min-width: 320px;
    min-height: 600px;
    max-width: 320px;
    max-height: 600px;
    height: 100%;
    border: 10px solid #312509;
    background: #d3bf9f;
    border-radius: 68px;
    font-size: large;
    padding: 15px;
    margin-bottom: 0;
}

.match__img {
    border: 10px solid #0E3B43;
    max-width: 175px;
    max-height: 250px;
}

h6 {
    margin-top: 0;
}

.btn__style {
    padding: 20px;
    font-size: 15px;
    background-color: #0E3B43;
    color: white;
    font-size: 20px;
    border-radius: 60px;
}

.match__btn {
    padding: 10px;
}

.title {
    color: #A3BBAD;
}

.match__container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px 20px;
    padding: 100px;
}

.matches__style {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.match__info {
    display: flex;
    flex-flow: column;
    font-size: 15px;
    margin-left: 20px;
    justify-content: space-evenly;
}

.profile__container {
    display: flex;
    max-width: 100vw;
}

.profile__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #312509;
    font-size: 25px;
    background: #A3BBAD;
    border: 10px solid #0E3B43;
    border-radius: 10%;
    padding: 10px;
    margin-bottom: 100px;
    max-width: 40%;
    margin-left: 50px;
}

.profile__div {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    background: #0E3B43;
    /* min-width: 50%; */
    max-height: 400px;
    color: white;
    border: 10px solid #A3BBAD;
    border-radius: 10%;
    padding: 10px;
    margin-bottom: 100px;
}

.profile__top {
    display: flex;
}

.profile__info {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: start;
    font-size: .8rem;
}

.profile__info h2 {
    padding: 0;
    text-align: left;
}

.profile__top img {
    border-radius: 40px;
    margin-right: 50px;
    max-width: 200px;
    max-height: 200px;
    justify-content: center;
    align-self: center;
}

#gif {
    border-radius: 15%;
    border: 7px solid #0E3B43;
    max-width: 75vw;
    max-height: 100px;
}

.login__div{
    color: rgb(250, 252, 247);
    display: flex;
    flex-flow: column;
    background-color: #0E3B43;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 440px;
    border-radius: 30%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 30px;
}

.logout__button{
    padding: 10px;
    margin-top: 10px;
    border-radius: 20%;
    background-color: #0E3B43;
    color: #A3BBAD;
}

@media screen and (max-width: 650px) {

    #gif{
        max-height: 55px;
    }

    .profile__container {
        display: flex;
        flex-flow: column;
        /* margin: 0; */
    }

    .profile__div{
        font-size: .6rem;
        max-width: 350px;
        padding: 0;
        margin: 0;
    }

    .profile__div img {
        margin-right: 20px;
        max-height: 175px;
    }

    .profile__top {
        justify-content: space-between;
    }

    .profile__form {
        min-width: 85vw;

        margin-left: 0;
        font-size: 1rem;
    }

    .navbar {
        justify-content: space-between;
        max-width: 100vw;
        }

    .navlink {
        max-width: 80px;
        font-size: .5rem;
        padding: 0;
    }

    .home__container h1 {
        font-size: 1.7rem;
    }

    .home__container p,
    h3 {
        font-size: .8rem;
        align-self: center;
    }

    .home__container img {
        max-width: 200px;
        max-height: 200px;
    }

    .dating__container {
        max-width: 100vw;
    }

    .dating__card__container {
        gap: 0;
    }

    .dating__card {
        border: 5px solid #312509;
        padding: 0 30px;
        min-width: 150px;
        min-height: 355px;
        max-height: 355px;
    }

    .dating__card img {
        border: 5px solid #0E3B43;
    }

    .dating__card h1, h2 {
        font-size: 1rem;
    }

    .dating__card h2 {
        font-size: 1rem;
    }

    .matches__card {
        border: 5px solid #312509;
        padding: 0 30px;
        margin-bottom: 20px;
        min-width: 150px;
        min-height: 355px;
        max-height: 355px;
    }

    .matches__card img {
        border: 5px solid #0E3B43;
    }

    .matches__card h1,
    h2 {
        font-size: 1rem;
    }

    .matches__card h2 {
        font-size: 1.5rem;
    }

    .title {
        font-size: 1rem;
    }

    .img {
        max-width: 100px;
        min-height: 80px;
    }

    .btn__style {
        font-size: 14px;
        padding: 5px;
        margin: 5px;
    }

    .match__info {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column;
        margin-left: 10px;
    }

    .match__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .match__bottom h6 {
        margin: 0;
        margin-left: 30px;
        text-align: left;
    }

    .login__div img {
        max-width: 200px;
        max-height: 200px;
    }

    .login__div h3{
        font-size: 1.3rem;
    }

    .login__div{
        border: 1px solid #000;
    }
}